body {
  box-sizing: border-box;
  width: 100vw;
  height: 100vh;
  margin: 0;
}

#header {
  border: 2px solid blue;
  display: flex;
}

#header-icon {
  margin-left: 2.5%;
}

#search-section {
  margin: 20px;
  display: flex;
  justify-content: center;
  gap: 20px;
  width: 98%;
}

#search-bar {
  display: flex;
  justify-self: center;
  width: 30%;
}

#unit-toggle {
  position: absolute;
  top: 8%;
  right: 1%;
}

/*_____Main Display_____ */

#display-section {
  display: flex;
  justify-content: center;
  border: 2px solid red;
  height: 80%;
}

#condition {
  display: flex;
  flex-direction: column;
  margin-left: 2.5%;
  border: 2px solid blue;
  width: 80%;
  height: 100%;
  align-items: center;
  position: relative;
}

#background-image {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}

#icon-image,
#header-icon {
  width: 48px;
  height: auto;
  border: 2px solid red;
}

#error {
  text-align: center;
}
