body {
  box-sizing: border-box;
  width: 100vw;
  height: 100vh;
  margin: 0;
}

#header {
  border: 2px solid blue;
  display: flex;
}

#search-section {
  margin: 20px;
  display: flex;
  justify-content: center;
  gap: 20px;
  width: 98%;
}

#search-bar {
  display: flex;
  justify-self: center;
  width: 30%;
}

img {
  margin-left: 2.5%;
  align-self: center;
  border: 2px solid red;
}

/*_____Main Display_____ */

#display-section {
  display: flex;
  justify-content: space-between;
  border: 2px solid red;
}

#condition {
  display: flex;
  flex-direction: column;
  margin-left: 2.5%;
  border: 2px solid blue;
  width: 50%;
  align-items: center;
}

#parameters {
  margin-right: 2.5%;
  border: 2px solid blue;
  width: 30%;
}

#icon-image {
  width: 48px;
  height: auto;
  border: 2px solid red;
}
